<h1><%=post.title%></h1>
  <h3><a href="/users/<%=post.author[0]._id%>"><%=post.author[0].username%></a></h3>
  <p>
    <%=post.date%>
  </p>
  <p>
    <%=post.body%>
  </p>
  <%comments.forEach(function(comment){%>
  <p>
    <%=comment.body%>
  </p>
  <%})%>

  <a href="/">Back to posts index</a>

  <a href="/posts/<%=post._id%>/newcomment">Add a comment</a>
