<h1><%=post.title%></h1>
  <h3><a href="/users/<%=post.author[0]._id%>"><%=post.author[0].username%></a></h3>
  <p>
    <%=post.date%>
  </p>
  <p>
    <%=post.body%>
  </p>
  <p>
    <a href="/posts/<%=post._id%>/like">Add a like</a>
  </p>
  <p>
    Likes: <%=post.likes%>
  </p>
  <%comments.forEach(function(comment){%>
  <p>
    <%=comment.body%> - <a href="/users/<%=comment.author[0]._id%>"><%=comment.author[0].username%></a> - <%=comment.date%>
  </p>

  <%})%>

  <a href="/">Back to posts index</a>
  <form action="/posts/<%=post._id%>/newcomment" method="post">
    <textarea name="body" rows="8" cols="40" placeholder="Enter your comment here"></textarea>
    <input type="submit">
  </form>
