<!DOCTYPE html>
<html>
  <%- include partials/head.html.ejs %>
  <body>
    Posts index
    <a href="/users/logout">Logout</a>
    <a href="/posts/create">Create new post</a>

    <%posts.forEach(function(post){%>
      <h1><a href="/posts/<%=post._id%>"><%=post.title%></a></h1>
      <p>
        <%=post.body%>
      </p>
      <p>
        Author: <a href="/users/<%=post.author[0]._id%>"><%=post.author[0].username%></a>
      </p>
      <p>
        Date: <%=post.date%>
      </p>
    <%})%>
  </body>
</html>
