<!DOCTYPE html>
<html>
  <%- include partials/head.html.ejs %>
  <body>
    Posts index
    <a href="/users/logout">Logout</a>
    <a href="/posts/create">Create new post</a>

    <%posts.forEach(function(post){%>
      <div class="post-item">
        <h1 class="post-title"><a href="/posts/<%=post._id%>"><%=post.title%></a></h1>
        <p>
          By: <a href="/users/<%=post.author[0]._id%>"><%=post.author[0].username%></a> on <%=post.date%>
        </p>
      </div>
    <%})%>
  </body>
</html>
