<!DOCTYPE html>
<html>
  <%- include partials/head.html.ejs %>
  <body>
    <div class="pure-g">
  <%- include partials/sidebar.html.ejs %>

<div class="pure-u-1 pure-u-md-4-5 pure-u-lg-4-5">

      <%posts.forEach(function(post){%>
        <div class="post-item">
          <h1 class="post-title"><a href="/posts/<%=post._id%>"><%=post.title%></a></h1>
          <p>
            By: <a class="username" href="/users/<%=post.author[0]._id%>"><%=post.author[0].username%></a> on <%=post.date%>
          </p>
          <p>
            Likes: <%=post.likes%>
          </p>
        </div>
      <%})%>
    </div>
  </div>
  </body>
</html>
